{{#if errors}}
  <ul style="color: red;">
    {{#each errors}}
      <li>{{this.msg}}</li>
    {{/each}}
  </ul>
{{/if}}

<form action="/api/conversions/convert" method="POST">
  <input type="number" name="amount" placeholder="Amount" required />

  <select name="from" aria-label="From currency">
    {{#each currencyList}}
        <option value="{{this.code}}">{{this.code}} - {{this.name}}</option>
    {{/each}}
</select>

<select name="to" aria-label="To currency">
    {{#each currencyList}}
        <option value="{{this.code}}">{{this.code}} - {{this.name}}</option>
    {{/each}}
</select>

  <button type="submit">Convert</button>
</form>



{{#if result}}
  <h2>Result: {{result}}</h2>
{{/if}}

<a href="/history">History</a>
