<div class="container">
  

  {{#if errors}}
    <ul class="errors">
      {{#each errors}}
        <li>{{this.msg}}</li>
      {{/each}}
    </ul>
  {{/if}}

  <form class="converter-form" action="/api/conversions/convert" method="POST">
    <input type="number" name="amount" placeholder="Amount" value="{{oldInput.amount}}" required />

    <select name="from" aria-label="From currency">
      {{#each currencyList}}
        <option value="{{this.code}}" {{#if (eq this.code oldInput.from)}}selected{{/if}}>{{this.code}} - {{this.name}}</option>
      {{/each}}
    </select>

    <select name="to" aria-label="To currency">
      {{#each currencyList}}
        <option value="{{this.code}}" {{#if (eq this.code oldInput.to)}}selected{{/if}}>{{this.code}} - {{this.name}}</option>
      {{/each}}
    </select>

    <button type="submit">Convert</button>
  </form>

  {{#if result}}
    <div class="result-box">
      <h2>Result: {{result}}</h2>
    </div>
  {{/if}}

  <a href="/history">View history</a>
</div>
